@media only screen and (max-width: 1026px) { 
	html {
		font-family: 'Reem Kufi', sans-serif;
	}
  #mySideNav { 
		display: none; 
	}
	#myTopNav {
		overflow: hidden;
		margin: auto;
    width: 100%;
		padding: 10px;
		text-align: center;
	}
	#myTopNav .fa-circle{
		color: white
	}
	#myTopNav a {
		text-decoration: none;
		font-size: 1.75em;
		padding: 10px;
	}
	#myTopNav a:link, #myTopNav a:visited {
		color: white;
	}
	.icons-social i {
		font-size: 3em;
		padding: 10px;
		color: white;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
		font-family: 'Rem kufi', sans-serif;
	}
	#myTopNav {
		display: none;
	}
	#mySideNav a {
		position: absolute; /* Position them relative to the browser window */
		left: -111px; /* Position them outside of the screen */
		transition: 0.3s; /* Add transition on hover */
		padding: 15px; /* 15px padding */
		text-decoration: none; /* Remove underline */
		color: white; /* White text color */
		width: 150px;
		height: 50px;
		transform: skew(5deg);
		text-align: right;
	}
	
	#mySideNav a:hover {
		left: -20px; /* On mouse-over, make the elements appear as they should */
	}
	
	#home {
		top: 20px;
		background-color: #383838;
	}

	#home > i,
	#blog > i,
	#projects > i, 
	#contact > i {
		padding-left: 15px;
	}
	
	#blog {
		top: 80px;
		background-color: #383838; 
	}
	
	#projects {
		top: 140px;
		background-color: #383838; 
	}
	
	#contact {
		top: 200px;
		background-color: #383838; 
	}
	.icons-social i {
		font-size: 3em;
		padding: 10px;
		color: white;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
		font-family: 'Rem kufi', sans-serif;
	}
	#myTopNav {
		display: none;
	}
	#mySideNav a {
		position: absolute; /* Position them relative to the browser window */
		left: -111px; /* Position them outside of the screen */
		transition: 0.3s; /* Add transition on hover */
		padding: 15px; /* 15px padding */
		text-decoration: none; /* Remove underline */
		color: white; /* White text color */
		width: 150px;
		height: 50px;
		transform: skew(5deg);
		text-align: right;
	}
	
	#mySideNav a:hover {
		left: -20px; /* On mouse-over, make the elements appear as they should */
	}
	
	#home {
		top: 20px;
		background-color: #383838;
	}

	#home > i,
	#blog > i,
	#projects > i, 
	#contact > i {
		padding-left: 15px;
	}
	
	#blog {
		top: 80px;
		background-color: #383838; 
	}
	
	#projects {
		top: 140px;
		background-color: #383838; 
	}
	
	#contact {
		top: 200px;
		background-color: #383838; 
	}
	.icons-social i {
		font-size: 3em;
		padding: 10px;
		color: white;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
		font-family: 'Rem kufi', sans-serif;
	}
	#myTopNav {
		display: none;
	}
	#mySideNav a {
		position: absolute; /* Position them relative to the browser window */
		left: -111px; /* Position them outside of the screen */
		transition: 0.3s; /* Add transition on hover */
		padding: 15px; /* 15px padding */
		text-decoration: none; /* Remove underline */
		color: white; /* White text color */
		width: 150px;
		height: 50px;
		transform: skew(5deg);
		text-align: right;
	}
	
	#mySideNav a:hover {
		left: -20px; /* On mouse-over, make the elements appear as they should */
	}
	
	#home {
		top: 20px;
		background-color: #383838;
	}

	#home > i,
	#blog > i,
	#projects > i, 
	#contact > i {
		padding-left: 15px;
	}
	
	#blog {
		top: 80px;
		background-color: #383838; 
	}
	
	#projects {
		top: 140px;
		background-color: #383838; 
	}
	
	#contact {
		top: 200px;
		background-color: #383838; 
	}
	.icons-social i {
		font-size: 3em;
		padding: 10px;
		color: white;
	}
}
/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.bgimg {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg {
  background-image: url("../asset/NYC_skyline.jpg");
  height: 100%;
}
